<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snqg.point.mapper.PointMapper">

    <resultMap id="BaseResultMap" type="com.snqg.point.entity.Point">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="changedPoint" column="changed_point" jdbcType="INTEGER"/>
            <result property="changeTime" column="change_time" jdbcType="TIMESTAMP"/>
            <result property="taskDesc" column="task_desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,changed_point,
        change_time,task_desc
    </sql>
</mapper>
